<style>
    .footer{
        background:gray;
        height:fit-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin:auto;
        width:100%;
        background-color:darkgrey;
        font-family: sans-serif;
    }
    .footer li:hover{
        background-color: #007bff;
        border-radius: 5px;
    }
    .footer h5{
        color: rgb(59, 58, 58);
    }
    .link-externo{
        font-size:small;
        margin-top:1px;
        margin-bottom:1px;
        width:auto;
        text-decoration: none;
        color: black;
        width:100%;
    }

    .right{
        position: relative;
        align-self: start;
    }

    .right ul,
    .left ul{
        list-style-type: none;
    }
    
    .sr-only{
        opacity: 0;
        pointer-events: none;
        display: none;
    }
</style>

<div class="footer" style="background-color:grey">
    <div class="left">
        <h5>Links de interés</h5>
        <ul>
            <li><a class="link-externo" href="http://www.mintrab.gob.cl" target="_blank">
                    Ministerio del Trabajo
                    <span class="fa fa-fw fa-external-link" aria-hidden="true"></span>
                    <span class="sr-only">(Enlace abre nueva ventana)</span>
                </a>
            </li>
            <li><a class="link-externo"  href="http://dt.gob.cl" target="_blank">
                    Dirección del Trabajo
                    <span class="fa fa-fw fa-external-link" aria-hidden="true"></span>
                    <span class="sr-only">(Enlace abre nueva ventana)</span>
                </a>
            </li>
            <li><a class="link-externo"  href="http://www.sil.gob.cl" target="_blank">
                    SIL
                    <span class="fa fa-fw fa-external-link" aria-hidden="true"></span>
                    <span class="sr-only">(Enlace abre nueva ventana)</span>
                </a>
            </li>
            <li><a class="link-externo"  href="http://www.sence.cl" target="_blank">
                    SENCE
                    <span class="fa fa-fw fa-external-link" aria-hidden="true"></span>
                    <span class="sr-only">(Enlace abre nueva ventana)</span>
                </a>
            </li>
            <li><a class="link-externo"  href="https://www.afc.cl" target="_blank">
                    AFC
                    <span class="fa fa-fw fa-external-link" aria-hidden="true"></span>
                    <span class="sr-only">(Enlace abre nueva ventana)</span>
                </a>
            </li>
            <li><a class="link-externo"  href="https://www.empleospublicos.cl" target="_blank">
                    Portal de Empleos Públicos
                    <span class="fa fa-fw fa-external-link" aria-hidden="true"></span>
                    <span class="sr-only">(Enlace abre nueva ventana)</span>
                </a>
            </li>
            <li><a class="link-externo"  href="http://www.safp.cl/" target="_blank">
                    Superintendencia de Pensiones
                    <span class="fa fa-fw fa-external-link" aria-hidden="true"></span>
                    <span class="sr-only">(Enlace abre nueva ventana)</span>
                </a>
            </li>
            <li><a class="link-externo"  href="http://www.senadis.gob.cl" target="_blank">
                    Senadis
                    <span class="fa fa-fw fa-external-link" aria-hidden="true"></span>
                    <span class="sr-only">(Enlace abre nueva ventana)</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="right">
        <h5>Links de Utilidad</h5>
        <ul>
        <li><a class="link-externo"  href="http://www.leychile.cl/Navegar?idNorma=184979" target="_blank">
                Ley 19.728 (Seguro de Cesantía)
                <span class="fa fa-fw fa-external-link" aria-hidden="true"></span>
                <span class="sr-only">(Enlace abre nueva ventana)</span>
            </a>
        </li>

        <li><a class="link-externo"  href="https://www.leychile.cl/Navegar?idNorma=1103997" target="_blank">
                Ley 21.015 inclusión de personas con discapacidad al mundo laboral
                <span class="fa fa-fw fa-external-link" aria-hidden="true"></span>
                <span class="sr-only">(Enlace abre nueva ventana)</span>
            </a>
        </li>

        <li><a class="link-externo"  href="https://www.leychile.cl/Navegar?idNorma=1138819" target="_blank">
                Política Nacional de Intermediación Laboral (PNIL)
                <i class="fa fa-fw fa-external-link" aria-hidden="true"></i>
                <span class="sr-only">(Enlace abre nueva ventana)</span>
            </a>
        </li>
        </ul>
    </div>
</div>