{% extends 'layout.html' %}

{% block body %}

  <style>
    .form-group{
      margin: 25px;
      border-radius: 5px;
      border: 1px lightgrey;
    }
  </style>

  <h1>Iniciar Sesión</h1>
  {% from "_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.nombre_funcionario, class_="form-control")}}
    </div> 
    <div class="form-group">
      {{render_field(form.contraseña, class_="form-control")}}
    <p><input type="submit" class="btn btn-primary" value="Iniciar Sesión"></p>
    </div>
  </form>
{% endblock %}